body {
  margin: 0;
  font-family: 'Roboto regular', Arial, Helvetica, sans-serif;
}

.header {
  background: url("../assets/images/background.png");
  background-size: cover;
  width: auto;
  height: 300px;
}

.list-container {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.list-container li {
  padding: 20px;
}

.menu-desc-wrapper {
  display: inline-block;
}

.menu-desc-wrapper p, h3 {
  margin: 5px 0;
}

.item-title {
  font-weight: 300;
}

.item-desc {
  font-size: .81em;
  font-weight: 200;
  color: darkgrey;
}

.item-cost {
  font-weight: 500;
  color: #000;
  letter-spacing: -1px;
}

.menu-container img {
  width: 60px;
  height: 60px;
  margin: 0 40px 0 0;
}

.menu-item-container {
  position: relative;
  border-bottom: 1px solid lightgrey;
  width: 75%;
}

.item-add-btn {
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid lightgray;
  font-size: 20px;
  font-weight: 200;
  width: 35px;
  height: 35px;
  display: inline-block;
  position: absolute;
  right: 25px;
  bottom: 35px;
}

.order-title {
  text-align: center;
  margin: 30px 0 0 0;
  font-weight: 200;

}

.cart-container {
  list-style: none;
  margin: 40px;
  padding: 0;
  width: 550px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 2px;
}

.total {
  border-top: 2px solid grey;
  padding-top: 18px;
}

#remove-item {
  border: none;
  background-color: #fff;
  color: red;
}

.submit-order-btn {
  display: block;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #10B981;
  border: none;
  height: 20px;
  width: 40%;
  margin: 0 auto;
  position: relative;
}

.modal {
  box-shadow: 0 1px 1px #000;
  border-radius: 10px;
  background-color: whitesmoke;
  text-align: center;
  width: 90%;
  height: 50%;
  position: absolute;
  top: 30%;
  left: 5%;
}

.modal form {
  display: flex;
  flex-direction: column;
  padding: 50px;

}

.modal input {
  margin: 10px;
  padding: 20px 10px;
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
}

input[type="number"] {
  appearance: textfield;
}

input[type="submit"] {
  background-color: #10B981;
  color: white;
}

.toggle-modal {
  display: none;
}

#close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  border-radius: 5px;
  color: red;
  width: 20px;
}
