body {
  margin: 0;
}

.header {
  background: url("../assets/images/background.png");
  background-size: cover;
  width: auto;
  height: 300px;
}

.list-container {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.list-container li {
  padding: 20px;
}

.menu-desc-wrapper {
  display: inline-block;
}

.menu-desc-wrapper p, h3 {
  margin: 5px 0;
}

.item-title {
  font-weight: 400;
}

.item-desc {
  font-size: .81em;
  font-weight: 200;
  color: darkgrey;
}

.item-cost {
  font-weight: 500;
  color: #000;
  letter-spacing: -1px;
}

.menu-container img {
  width: 60px;
  height: 60px;
  margin: 0 40px 0 0;
}
