body {
  margin: 0;
}

.header {
  background: url("../assets/images/background.png");
  background-size: cover;
  width: auto;
  height: 300px;
}

.list-container {
  list-style: none;
  display: flex;
  flex-direction: column;
}


/*FIXME: Remove when done. Visual aid. */
.list-container li {
  padding: 20px;
}

.menu-desc-wrapper {
  display: inline-block;
}


/*FIXME: Remove when done. Visual aid. */
.menu-container {
  border: 2px solid red;
  
}

.menu-container img {
  width: 100px;
  height: 100px;
  margin: 0 20px 0 0;
}
